<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.erp.dao.CompanyDao">

	<!-- 查询公司id -->
	<select id="getcompanyId" parameterType="String">
		select company_id from erp_company_info
		where name = #{name}
	</select>
	
	<!-- 新增公司 -->
	<insert id="addCompany" parameterType="com.yjjk.erp.entity.Info.ContractInfo"
	useGeneratedKeys="true" keyProperty="company.companyId">
		insert into erp_company_info(
		name,
		contract_status
		)values(
		#{company.companyName},
		0
		)
	
	</insert>
	
	<!-- 获取与经销商无关的公司列表 -->
	<select id="getCompanyList" resultType="com.yjjk.erp.entity.Info.ContractInfo">
		select a.name,a.company_id 
		from erp_company_info a,erp_relation_franchiser_company b
		where 1 = 1 
		and a.contract_status = 0
		and a.company_id != b.company_id
		and b.franchiser_id = #{id}
	</select>
	
</mapper>