<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.erp.mapper.ErpCompanyInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.erp.entity.pojo.ErpCompanyInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getList" resultType="com.yjjk.erp.entity.vo.ListVO" parameterType="java.lang.Integer">
    SELECT eci.company_id AS id, eci.name
    FROM erp_relation_franchiser_company erfc
    LEFT JOIN  erp_company_info  eci ON eci.company_id = erfc.company_id
    WHERE eci.status = 0 AND eci.contract_status = 0
    AND erfc.franchiser_id = #{franchiserId, jdbcType=INTEGER}
    </select>
</mapper>