<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.erp.mapper.ErpHospitalInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.erp.entity.pojo.ErpHospitalInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="rate_type" property="rateType" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getHospitalsInfo" resultType="com.yjjk.erp.entity.vo.HospitalsInfoVO">
    SELECT ehi.`id`,ehi.`name`,CONCAT(ehi.`province`,'-',ehi.`city`) AS place,ehi.`area`,ehi.`rate_type`,
    CONCAT(erai.user_name,'<![CDATA[<]]>br<![CDATA[>]]>',erai.user_phone) AS userInfo,
    CONCAT(eri.`start_date`,'至',eri.`end_date`) AS recordValidityDate,erai.rate_type AS rateTypeRate,
    DATE_FORMAT(erai.create_time,'%Y-%m-%d') AS createTimeRate
    FROM  erp_hospital_info ehi
    LEFT JOIN erp_record_info eri ON eri.`hospital_id` = ehi.`id` AND eri.`status` = 0
    LEFT JOIN erp_rate_info erai ON erai.id = eri.`rate_id`
    WHERE ehi.`status` = 0
    ORDER BY FIELD(ehi.`rate_type`,2,1,3,0)
    </select>
</mapper>