<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.erp.mapper.ErpRateInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.erp.entity.pojo.ErpRateInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="rate_type" property="rateType" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRatesInfo" parameterType="java.lang.Integer" resultType="com.yjjk.erp.entity.vo.RatesInfoVO">
     SELECT DATE_FORMAT(erai.create_time,'%Y-%m-%d %H:%i') AS create_time, erai.rate_type AS rate_type_int, erai.content
    FROM erp_record_info eri
    LEFT JOIN `erp_rate_info` erai ON eri.`rate_id` = erai.id
     WHERE eri.hospital_id = #{hospitalId, jdbcType=INTEGER}
    ORDER BY create_time DESC LIMIT 1
    </select>

    <select id="selectId" parameterType="com.yjjk.erp.entity.pojo.ErpRateInfo" resultType="java.lang.Integer">
    SELECT id from erp_rate_info where hospital_id = #{hospitalId, jdbcType=INTEGER} and rate_type = #{rateType, jdbcType=INTEGER}
    order by create_time desc limit 0,1
    </select>

    <select id="getMyRate" resultType="com.yjjk.erp.entity.vo.MyRateVO" parameterType="java.lang.Integer">
        SELECT ehi.id, ehi.name, erai.department_name AS departmentName, erai.rate_type AS rateType,
        CONCAT(eri.`start_date`,' ~ ',eri.`end_date`) AS recordValidityDate
        FROM (SELECT b.id, b.create_time, b.update_time, b.STATUS, b.user_name, b.user_phone, b.hospital_id,
         b.department_name, b.rate_type,b.content FROM (SELECT a.id, a.create_time, a.update_time, a.STATUS,
          a.user_name, a.user_phone, a.hospital_id, a.department_name, a.rate_type,a.content FROM erp_rate_info a
          ORDER BY a.create_time DESC LIMIT 1000) b GROUP BY b.hospital_id
        ) erai
        LEFT JOIN `erp_record_info` eri ON eri.`rate_id` = erai.id
        LEFT JOIN `erp_hospital_info` ehi ON ehi.id = eri.`hospital_id`
        WHERE eri.`check_status` = 1 AND eri.`company_id` = #{companyId,jdbcType=INTEGER}
    </select>
</mapper>