<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.erp.mapper.ErpRecordInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.erp.entity.pojo.ErpRecordInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
        <result column="check_status" property="checkStatus" jdbcType="INTEGER"/>
        <result column="start_date" property="startDate" jdbcType="VARCHAR"/>
        <result column="end_date" property="endDate" jdbcType="VARCHAR"/>
        <result column="rate_id" property="rateId" jdbcType="INTEGER"/>
    </resultMap>


</mapper>