<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.erp.dao.FranchiserDao">

	<!-- 经销商账户绑定公司 -->
	<insert id="addRelation" parameterType="Integer">
		insert into
		erp_relation_franchiser_company(
		company_id,
		franchiser_id
		)values(
		#{comId},
		#{franId}
		)
	</insert>

	<!-- 新增经销商 -->
	<insert id="addFran" parameterType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		insert into
		erp_franchiser_info(
		name,
		password,
		phone
		)values(
		#{fran.name},
		#{fran.password},
		#{fran.phone}
		)
	</insert>

	<!-- 获取经销商列表 -->
	<select id="getFranList" parameterType="com.yjjk.erp.entity.Info.CurrencyModel"
		resultType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		select * from
		erp_franchiser_info
		where 1=1
		and status = 0
		limit
		#{userModel.start},#{userModel.end}
	</select>

	<!-- 经销商停用 -->
	<update id="updateFran" parameterType="Integer">
		update erp_franchiser_info
		set
		status = 1
		where 1 = 1
		and franchiser_id = #{id}

	</update>

	<!-- 获取经销商密码 -->
	<select id="checkUser" resultType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		select * from
		erp_franchiser_info
		where 1=1
		and status = 0
		and phone = #{phone}
	</select>

	<!-- 获取登录记录里的id -->
	<select id="checkisLogin">
		select franchiser_id from
		erp_franchiser_openid
		where 1=1
		and openid = #{openId}
	</select>

	<!-- 新增微信与经销商绑定关系 -->
	<insert id="addNewUserToOpenId" parameterType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		insert into
		erp_franchiser_openid(
		openid,
		franchiser_id,
		update_time
		)values(
		#{fran.openId},
		#{fran.franchiserId},
		#{fran.createTime}
		)
	</insert>

	<!-- 更新微信与经销商绑定关系 -->
	<update id="updateUserToOpenId" parameterType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		update
		erp_franchiser_openid
		set
		franchiser_id = #{fran.franchiserId},
		update_time = #{fran.updateTime}
		where 1 = 1
		and openid = #{fran.openId}

	</update>

	<!-- 获取经销商个人信息 -->
	<select id="getfranchiserInfo" resultType="com.yjjk.erp.entity.Info.FranchiserUserModel">
		select * from
		erp_franchiser_info
		where 1=1
		and franchiser_id = #{id}
	</select>

</mapper>