<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.erp.dao.ManagerDao">

	<!-- 获取管理员列表 -->
	<select id="managerList" parameterType="com.yjjk.erp.entity.Info.CurrencyModel"
		resultType="com.yjjk.erp.entity.Info.ManangerUserModel">
		select a.manager_id managerId,a.phone,a.name, b.role_name
		genderName from
		erp_manager_info
		a,erp_role_info b
		where a.gender =
		b.role_gender
		and status = 0
		limit
		#{userModel.start},#{userModel.end}
	</select>

	<!-- 获取管理员名称和id -->
	<select id="getManager" resultType="com.yjjk.erp.entity.Info.ManangerUserModel">
		select manager_id
		managerId,name from
		erp_manager_info
		where 1 =1
		and status = 0
		and gender != 0
	</select>

	<!-- 获取角色列表 -->
	<select id="RoleList" resultType="com.yjjk.erp.entity.Info.ManangerUserModel">
		select role_gender
		gender,role_name genderName from
		erp_role_info
		where 1=1
		and role_gender
		!= 0
	</select>

	<!-- 新增管理员 -->
	<insert id="addManager" parameterType="com.yjjk.erp.entity.Info.ManangerUserModel">
		insert into
		erp_manager_info(
		phone,
		password,
		name,
		gender,
		sex
		)values(
		#{userModel.phone},
		#{userModel.passWord},
		#{userModel.name},
		#{userModel.gender},
		#{userModel.sex}
		)
	</insert>

	<!-- 删除管理员 -->
	<update id="deleteManager" parameterType="Integer">
		update erp_manager_info
		set
		status = 1
		where 1= 1
		and manager_id = #{id}

	</update>

	<!-- 编辑管理员 -->
	<update id="updateManager" parameterType="com.yjjk.erp.entity.Info.ManangerUserModel">
		update erp_manager_info
		set
		update_time = #{userModel.updateTime},
		gender = #{userModel.gender}
		where 1= 1
		and id = #{userModel.managerId}
	</update>

	<!-- 获取管理员信息 -->
	<select id="getManagerData" resultType="com.yjjk.erp.entity.Info.ManangerUserModel">
		select * from
		erp_manager_info
		where 1 =1
		and manager_id = #{id}

	</select>

	<!-- 修改管理员密码 -->
	<update id="ChangeManagerPassWord" parameterType="com.yjjk.erp.entity.Info.ManangerUserModel">
		update
		erp_manager_info set
		update_time = #{userModel.updateTime},
		password =
		#{userModel.passWord}
		where 1= 1
		and id = #{userModel.managerId}
	</update>

	<!-- 获取管理员密码 -->
	<select id="getManagerPassWord" parameterType="String"
		resultType="Integer">
		select manager_id from
		erp_manager_info
		where 1 =1
		and phone =
		#{phone}
	</select>

	<!-- 确认Token是否存在 -->
	<select id="checkToken" parameterType="String" resultType="Integer">
		select manager_id from
		erp_login_state
		where 1 =1
		and token = #{token}
		and ip = #{ip}
		and login_out<![CDATA[>]]>NOW()-30*60
	</select>

	<!-- 获取token信息 -->
	<select id="getTokeInfo" parameterType="Integer"
		resultType="com.yjjk.erp.entity.Info.YjLoginState">
		select token,ip,manager_id managerId,login_out
		loginOutTime,status status from
		erp_login_state
		where 1 =1
		and manager_id
		= #{managerId}
	</select>

	<!-- 更新token信息 -->
	<update id="updateTokenInfo" parameterType="com.yjjk.erp.entity.Info.YjLoginState">
		update
		erp_login_state set
		ip = #{yj.ip},
		login_out = #{yj.loginOutTime},
		status
		= #{yj.status}
		where 1= 1
		and manager_id = #{yj.managerId}
	</update>

	<!-- 新增token信息 -->
	<insert id="addTokenInfo" parameterType="com.yjjk.erp.entity.Info.YjLoginState">
		insert into
		erp_login_state(
		token,
		ip,
		manager_id,
		login_out,
		status
		)values(
		#{yj.token},
		#{yj.ip},
		#{yj.managerId},
		#{yj.loginOutTime},
		#{yj.status}
		)
	</insert>

	<!-- 获取管理总数 -->
	<select id="getmanagerNum" resultType="Integer">
		select COUNT(name) from
		erp_manager_info
	</select>

</mapper>